Repository torontojs/communityhub, pull requests merged in 2025-08, with the labels that each got.

#184 feat: add Date Selector component
  src/components/DateSelector/DateSelector.css
  src/components/DateSelector/DateSelector.tsx
  src/index.html
  src/pages/date-usage/index.html
  src/pages/date-usage/sample-date.tsx
  src/pages/date-usage/style.css
  vite.config.ts
Labels: Enhancement ⬆️, Frontend 💅, Design ✨

#225 fix: resolve useProfileRedirect race condition
  src/hooks/useProfileRedirect.ts
Labels: Frontend 💅

#126 Implement Forgot Password Functionality
  .api-test.vars
  api/src/email/index.ts
  api/src/index.ts
  api/src/routes/auth/api-tests/forgot-password/01-forgot-password.hurl
  api/src/routes/auth/api-tests/reset-password/01-reset-password.hurl
  api/src/routes/auth/data.ts
  api/src/routes/auth/index.ts
  api/src/routes/auth/validation.ts
  api/src/routes/profile/api-tests/delete-profile/03-delete-errors.hurl
  api/src/utils/auth.ts
  package.json
  src/components/ForgotPassword/ForgotPassword.css
  src/components/ForgotPassword/ForgotPassword.tsx
  src/components/Header/Header.tsx
  src/components/HeaderTitle/HeaderTitle.tsx
  src/components/ResetPassword/ResetPassword.css
  src/components/ResetPassword/ResetPassword.tsx
  src/components/SignIn/SignInForm.tsx
  src/components/TextInputComponent/TextInputComponent.css
  src/hooks/useHeartBeat.ts
  src/index.html
  src/pages/forgot-password/forgot-password.tsx
  src/pages/forgot-password/index.html
  src/pages/reset-password/index.html
  src/pages/reset-password/reset-password.tsx
  src/utilities/handleLogOut.ts
  vite.config.ts
  wrangler.toml
Labels: Backend/API 🍑, Frontend 💅
