Repository torontojs/communityhub, pull requests merged in 2025-07, with the labels that each got.

#161 fix: convert css property styles to react attributes
  src/components/Icons/CheckIcon.tsx
  src/components/Icons/Social/DevTo.tsx
  src/components/Icons/Social/Facebook.tsx
  src/components/Icons/Social/Instagram.tsx
  src/components/Icons/Social/XTwitter.tsx
  src/components/StepBar/StepBar.tsx
Labels: Frontend 💅

#166 Upgrade design system colors
  src/components/CompleteProfile/CompleteProfile.css
  src/components/SignUp/SignUpForm.css
  src/components/StepBar/StepBar.css
  src/css-layers/design-system.css
Labels: Design ✨

#147 Feature: update project configuration
  .github/.workflows/apply-labels-to-prs.yml
  .github/.workflows/assign-to-project.yml
  .github/.workflows/auto-author-assing.yml
  .github/.workflows/close-stale-issues.yml
  .github/.workflows/dependency-review.yml
  .github/.workflows/lint-project.yml
  .github/.workflows/monthly-contributors.yml
  .github/CODEOWNERS
  .github/FUNDING.yml
  .github/SECURITY.md
  .github/SUPPORT.md
  .github/codeql.yml
  .github/labeler.yml
  .github/release.yml
  .husky/post-checkout
  .husky/pre-commit
  .husky/pre-push
  .nvmrc
  docs/CODE_OF_CONDUCT.md
  docs/CONTRIBUTING.md
  docs/Coding Standard/README.md
  docs/INTERGRATION-TESTING.md
  docs/LICENSE.md
  docs/ROADMAP.md
  docs/contributing-guide/coding-standard/01-strict-mode-and-linting.md
  docs/contributing-guide/coding-standard/02-naming-things.md
  docs/contributing-guide/coding-standard/03-code-organization.md
  docs/contributing-guide/coding-standard/04-code-structure.md
  docs/contributing-guide/coding-standard/05-error-handling.md
  docs/contributing-guide/coding-standard/README.md
  docs/contributing-guide/git.md
  docs/contributing-guide/setup.md
  docs/contributing-guide/testing/01-unit-tests.md
  docs/contributing-guide/testing/02-api-testing.md
  docs/contributing-guide/testing/03-integration-testing.md
  docs/contributing-guide/testing/README.md
  docs/contributing-guide/tools.md
  docs/meeting-notes/2024-11-08.md
  docs/meeting-notes/2024-11-11.md
  docs/meeting-notes/2024-11-20.md
  docs/meeting-notes/2024-12-03.md
  docs/meeting-notes/2025-01-10.md
  docs/meeting-notes/2025-01-17.md
  docs/meeting-notes/2025-05-05.md
  docs/meeting-notes/2025-06-02.md
  docs/meeting-notes/Screenshot-2024-11-11-093914.png
  docs/meeting-notes/Screenshot-2024-11-11-102232.png
  package-lock.json
  package.json
Labels: Docs 📚, Enhancement ⬆️, Refactor ♻️

#181 Chore: Update CI workflows
  .github/ISSUE_TEMPLATE/1-bug_report.yml
  .github/ISSUE_TEMPLATE/2-feature_request.yml
  .github/ISSUE_TEMPLATE/3-other.yml
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/actions/setup-node-deps.yml
  .github/workflows/apply-labels-to-prs.yml
  .github/workflows/assign-to-project.yml
  .github/workflows/auto-author-assing.yml
  .github/workflows/ci-checks.yml
  .github/workflows/ci-tests.yml
  .github/workflows/close-stale-issues.yml
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/lint-project.yml
  .github/workflows/monthly-contributors.yml
  .husky/pre-push
  docs/CONTRIBUTING.md
  docs/contributing-guide/testing/02-api-testing.md
  docs/contributing-guide/testing/04-cron-testing.md
  docs/contributing-guide/testing/README.md
  dprint.json
  package-lock.json
  package.json
  src/css-layers/design-system.css
  vite.config.ts
Labels: Docs 📚, Frontend 💅

#164 Feature: Add profile status
  api/api_tests/14_team-members_get.hurl
  api/api_tests/16_team-members_create.hurl
  api/api_tests/19_documents_sign.hurl
  api/api_tests/20_documents_get.hurl
  api/src/index.ts
  api/src/middleware/access.ts
  api/src/routes/auth/data.test.ts
  api/src/routes/auth/data.ts
  api/src/routes/auth/index.ts
  api/src/routes/auth/responses.ts
  api/src/routes/auth/validation.ts
  api/src/routes/documents/data.ts
  api/src/routes/documents/index.ts
  api/src/routes/documents/validation.ts
  api/src/routes/profile/data.ts
  api/src/routes/profile/index.ts
  api/src/routes/profile/validation.ts
  api/src/routes/team-members/data.ts
  api/src/routes/team/index.ts
  api/src/utils/auth.ts
  api/src/utils/db.ts
  api/src/utils/responses.ts
  db/migrations/0002_create-profile.sql
  db/migrations/0006_move-profile-fields-to-access.sql
  db/migrations/0007_create-documents.sql
  db/seeds/Run-SeedRequests.ps1
  db/seeds/data/hashed-passwords.json
  db/seeds/data/teams-seed.json
  db/seeds/data/users-seed.json
  db/seeds/seed-data.sql
  eslint.config.mjs
  package.json
  src/components/CompleteProfile/CompleteProfile.tsx
Labels: Backend/API 🍑, Frontend 💅

#163 feat: add Design System Text Input Component
  src/components/TextInputComponent/TextInputComponent.css
  src/components/TextInputComponent/TextInputComponent.tsx
  src/index.html
  src/pages/text-input-usage/index.html
  src/pages/text-input-usage/sample-text-inputs.tsx
  src/pages/text-input-usage/style.css
  vite.config.ts
Labels: Enhancement ⬆️, Frontend 💅

#189 Feature: trim inputs and lowercase emails
  api/api_tests/01_auth_sign-up.hurl
  api/api_tests/sign-up/01-email-lower-case.hurl
  api/src/routes/auth/validation.ts
  api/src/routes/event-log/validation.ts
  api/src/routes/profile/validation.ts
  api/src/routes/team-members/validation.ts
  api/src/routes/team/validation.ts
Labels: Enhancement ⬆️, Backend/API 🍑

#165 feat: add new password rules to enhance security
  src/components/SignUp/SignUpForm.css
  src/components/SignUp/SignUpForm.tsx
Labels: Frontend 💅

#146 Confirm account page
  api/api_tests/09_team_get.hurl
  package-lock.json
  package.json
  public/assets/Uai-Variable.woff2
  src/components/Button/Button.css
  src/components/Button/Button.tsx
  src/components/ConfirmAccount/ConfirmAccount.css
  src/components/ConfirmAccount/ConfirmAccount.tsx
  src/css-layers/design-system.css
  src/index.html
  src/pages/confirm-account/confirm-account.tsx
  src/pages/confirm-account/index.html
  vite.config.ts
Labels: Refactor ♻️, Backend/API 🍑, Frontend 💅, Tests 🧪

#194 Chore: update actions and packages
  .github/workflows/apply-labels-to-prs.yml
  .github/workflows/ci-tests.yml
  .husky/pre-commit
  api/src/index.ts
  api/src/routes/auth/validation.ts
  api/src/routes/documents/validation.ts
  api/src/routes/event-log/validation.ts
  api/src/routes/profile/validation.ts
  api/src/routes/team-members/validation.ts
  api/src/routes/team/validation.ts
  api/src/utils/db.ts
  api/src/utils/responses.ts
  api/src/utils/validation.ts
  eslint.config.mjs
  package-lock.json
  package.json
Labels: Backend/API 🍑

#159 create passwordCheck utility function and unit test
  api/api_tests/01_auth_sign-up.hurl
  api/src/routes/auth/index.ts
  api/src/utils/passwordStrengthCheck.test.ts
  api/src/utils/passwordStrengthCheck.ts
  db/seeds/seed-data.sql
Labels: Docs 📚, Backend/API 🍑, Frontend 💅

#219 Chore/fix: enable JSX/TSX linting
  api/src/utils/auth.ts
  eslint.config.mjs
  src/components/Button/Button.tsx
  src/components/CheckYourEmail/CheckYourEmail.tsx
  src/components/CompleteProfile/CompleteProfile.tsx
  src/components/ConfirmAccount/ConfirmAccount.tsx
  src/components/HelperMessageComponent/HelperMessageComponent.tsx
  src/components/SignIn/SignInForm.tsx
  src/components/SignUp/SignUpForm.tsx
  src/components/TextInputComponent/TextInputComponent.tsx
  src/hooks/useHeartBeat.ts
  src/hooks/useProfileRedirect.ts
  src/pages/button-usage/sample-buttons.tsx
  src/pages/text-input-usage/sample-text-inputs.tsx
  src/utilities/handleLogOut.ts
Labels: Refactor ♻️, Backend/API 🍑, Frontend 💅
